// Buttons
// -------

.hamburger-button {
  top: 0;
  left: 0;
  position: fixed;
  display: block;
  float: left;

  height: $menu-height;
  width: $menu-width;
  line-height: $menu-button-position;
  border-right: 1px solid $menu-color-lines;

  font-size: $menu-button-size;
  text-align: center;

  color: $menu-color-text;
  background-color: $menu-color;

  &:hover {
    color: $menu-color;
    background-color: $menu-color-text;
  }

  cursor: pointer;

  /* Disable user selection */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
