// Buttons
// -------

.hamburger-button {
  display: block;
  float: left;

  width: $menu-width;
  height: 100%;
  line-height: $menu-button-position;

  border-right: 1px solid $menu-color-lines;
  text-align: center;

  &:hover {
    color: $menu-color;
    background-color: $menu-color-text;
  }
}
