// Hamburger menu styles
// ---------------------

.hamburger-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $menu-height;

  color: $menu-color-text;
  background-color: $menu-color;

  font-size: $menu-font-size-large;
}

.hamburger-nav {
  top: $menu-height;
  left: 0;
  bottom: 0;
  position: fixed;

  overflow: hidden;
  width: $menu-width;

  border-top: 1px solid #c6d0da;
  background: $menu-color;

  @include menu-translation(-$menu-width);
  @include menu-animate;

  &.open {
    @include menu-translation(0px);
  }
}
