// Hamburger menu styles
// ---------------------

.hamburger-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $menu-height;

  color: $menu-color-text;
  background-color: $menu-color;

  font-size: $menu-button-size;
}

.hamburger-nav {
  top: $menu-height;
  left: 0;
  bottom: 0;
  position: fixed;

  overflow: hidden;
  width: $menu-width;

  border-top: 1px solid $menu-color-lines;
  background: $menu-color;

  @include menu-translation(-$menu-width);
  @include menu-animate;

  &.open {
    @include menu-translation(0px);
  }

  &.full {
    width: $menu-width-full;

    @include menu-translation(0px);
    @include mobile-media {
      width: $menu-mobile-width;
    }
  }
}

.hamburger-scroll {
  position: absolute;
  overflow-y: scroll;

  width: $menu-width-full;
  height: 100%;

  @include mobile-media {
    width: $menu-mobile-width;
  }
}

.hamburger-list {
  background-color: $menu-color;
  color: $menu-color-text;

  line-height: $menu-height;
  text-transform: none;

  padding: 0;
  margin: 0;
  border-bottom: 1px solid $menu-color-lines;

  > li {

    &:not(:first-child) {
      @include box-shadow(inset 0 1px $menu-color-lines);
    }

    > a.item {
      display: block;
      font-size: $menu-item-size;

      text-decoration: none;

      &:before {
        width: $menu-width;
        display: inline-block;
        text-align: center;
      }

      &:hover {
        color: $menu-color;
        background-color: $menu-color-text;
      }
    }
  }
}
