// Global variables
// ----------------

// Note: override these variables for a better customization

// Color settings
$menu-color: #ffffff !default;
$menu-color-text: #583f7e !default;
$menu-color-lines: #edf1f2 !default;

// Dimensions
$menu-width: 60px !default;
$menu-width-full: 300px !default;
$menu-height: 60px !default;

$menu-button-size: 24px !default;
$menu-item-size: 22px !default;

// Animations
$menu-transition-time: 0.3s !default;

// Mobile settings
$menu-mobile-limit: 767px !default;
$menu-mobile-width: 768px !default;

// Computed properties
// -------------------

$menu-button-position: $menu-height / $menu-button-size;
